.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../log.jpg');
  background-size: cover;
}

.register-form {
  border: 1px solid gray;
  padding: 30px;
}
